td.details-control {
    background: url('/assets/img/more.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('/assets/img/minus.png') no-repeat center center;
}
