              <!--  ajax: 'assets/tables/datatables.standard.json', -->
              <input type="button" (click)="AddAluno()" value="Adicionar Aluno">
              <tables-datatables
                #tabela
                [detailsFormat]="detailsFormat"
                [options]="columnsList"
                tableClass="table table-striped table-bordered table-hover"
              >
                <thead>
                <tr>
                  <th></th>
                  <th data-hide="mobile-p">Nome</th>
                  <th data-class="expand">Endereco</th>
                  <th>Data Nascimento</th>
                  <th data-hide="mobile-p">Bairro</th>
                  <th data-hide="mobile-p,tablet-p">CPF</th>

                  <th  data-hide="mobile-p,tablet-p">Seguro Vida</th>
                  <th  data-hide="mobile-p,tablet-p">Dados Sociais</th>
                  <th  data-hide="mobile-p,tablet-p">Nomes Seguradora</th>

                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let aluno of alunos"  >
                       <td></td>
                       <td> {{aluno.nome}} </td>
                       <td> {{aluno.endereco}} </td>
                       <td> {{aluno.dataNascimento | date:'dd/MM/yyyy'}} </td>
                       <td> {{aluno.bairro}} </td>
                       <td> {{aluno.cpf}} </td>


                       <td  > {{aluno.seguroVida}} </td>
                       <td  > {{aluno.dadosSociais}} </td>
                       <td  > {{aluno.nomeSeguradora}} </td>
                    </tr>
                   </tbody> 
              </tables-datatables>
              <hr>
              <input type="checkbox" #checkBox (change)="checado(checkBox.value)" name="checado" id="checado">

     